@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  
  color: white;
  background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cc5333,
    #23074d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

::root {
  font-size: 16px;
}

h1,
h1 ~ h3 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  text-align: center;
  
  padding-top: 1em;
}

h1 ~ h3 {
  font-weight: normal;
  font-size: 2rem;

  padding-top: 0;
}

h1 ~ h3:nth-of-type(2) {
    font-size: 1.5rem;
}

.post {
  max-width: 100%;

  background-color: black;
  color: white;
  box-shadow: -1px 4px 10px -4px rgba(0, 0, 0, 0.75);
  border-radius: 4px;

  margin-bottom: 1.5em;
  padding: 1em;

  font-size: 1rem;

  img {
    width: 100%;
  }

  button {
    color: white;
    background-color: black;

    border: solid 1px gray;
    border-radius: 4px;

    font-weight: bold;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    font-size: 1rem;

    width: fit-content;

    margin: 0.5em 1em;
    padding: 0.5em 1.85em;
    
    cursor: pointer;

    span {
      margin-right: 0.5em;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    padding: 0 1em;
  }

  //date
  p:first-of-type {
    text-align: right;
    font-size: 0.80rem;

    padding-right: 0.5em;
    padding-bottom: 0.5em;
  }

  //caption
  p:nth-of-type(2) {
    padding: 0.5em 1em;
  }

  .like {
    background-color: #390099;
    color: white;
    border-color: #390099;
  }
}

.feed {
  padding: 2em;
  padding-bottom: 0;
}

.loader {
    position: absolute;
    inset: 0;
    margin: auto;
  
    text-align: center;
  }
  
  footer {
    font-family: "Bebas Neue";
    font-size: 1.20rem;
    text-align: center;

    background-color: black;
  
    width: 100%;
  
    padding: 1em 0;
    padding-bottom: 2em;
    margin-top: 1em;

    p:first-of-type {
      margin-top: 1em;
    }

  }
  
  a, a:visited, a:hover, a:active {
    color: inherit;
  }

@media (min-width: 784px) {
  .feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 80%;

    margin: auto;
  }

  .post {
    margin: 1em;

    width: 15em;
    height: fit-content;

    // caption + date
    p:nth-of-type(2),
    p:first-of-type {
      padding: 0;
    }

    //date
    p:first-of-type {
      padding-bottom: 0.8em;
    }

    button {
      margin-left: 0;
    }
  }
}
